<h1> Add a New Course </h1>
<%= form_for @course do |form| %>

<%= form.label :title %>
<%= form.text_field :title %>
<br/>

<%= form.label :start_date %>
<%= form.date_field :start_date %>
<br/>
<%= form.label :end_date %>
<%= form.date_field :end_date %>
<br/>
<%= form.label :location %>
<%= form.text_field :location %>
<br/>
<%= form.label :semester %>
<%= form.text_field :semester %>
<br/>
<%= form.label :description %>
<%= form.text_area :description %>
<br/>
<br/>
<%= form.submit "Submit new course" %>

<% end %>

